footer {
    background-color: #ABD6EB;
    margin-top: 30px;
  .content {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
    }
  }
}